.ipynb_checkpoints/radarr add movie-checkpoint.py
.ipynb_checkpoints/test-checkpoint.ipynb
test.ipynb
__pycache__/imdb.cpython-38.pyc
__pycache__/radarr.cpython-38.pyc
__pycache__/sonarr.cpython-38.pyc
